@use "shared/color-variants" as cv;

/* Typography */
$font-family: "FantasqueSansMono Nerd Font";
$font-size: 15px;

/* Layout tokens */
$bar-margin: 5px;
$radius: 0.8rem;
$workspace-pad: 0.4rem;

$module-pad-y: 0.5rem;
$module-pad-x: 0.8rem;
$module-margin-y: 5px;

$module-margin-left: 0.5rem;
$module-margin-right: 0.5rem;

$group-gap: 1rem;

$stat-font-size: 14px;
$stat-font-weight: 600;

$battery-pad-right: 1.3rem;
$divider-width: 1px;
$divider-style: solid;

/* ============================================
   COLORS (generic names)
   ============================================ */

$transparent: rgba(0, 0, 0, 0);
$primary: rgba(237, 135, 150, 1);
$bg: $transparent;
$fg: rgba(202, 211, 245, 1);

//Semantic colors
//RGB
$red: rgba(237, 135, 150, 1);
$green: rgba(166, 218, 149, 1);
$blue: rgba(138, 173, 244, 1);

//Semantic Colors
//CMYK
$cyan: rgba(145, 215, 227, 1);
$magenta: rgba(198, 160, 246, 1);
$yellow: rgba(238, 212, 159, 1);
$black: rgba(24, 25, 38, 1);

//State colors
$danger: $red;
$destructive: $danger;
$warning: $yellow;
$success: $green;
$info: $blue;

$surface: rgba(54, 58, 79, 1);
$surface-variant: rgba(73, 77, 100, 1);
$surface-2: #1a1b26;
$border: $surface-2;

$text-primary: $fg;
$text-secondary: rgba(184, 192, 224, 1);
$text-tertiary: rgba(165, 173, 203, 1);

/* ============================================
   GENERATED OPACITY VARIANTS (10..90)
   ============================================ */

$alpha-bases: (
   "primary": $primary,
   "bg": $bg,
   "surface": $surface,
   "black": $black,

   /* status / semantic */
   "info": $info,
   "success": $success,
   "warning": $warning,
   "danger": $danger,
   "destructive": $destructive
);

/* One map containing all variants */
$variants: cv.build-variants($alpha-bases);

/* Convenience function: v("bg", 80) -> rgba(..., 0.8) */
@function v($name, $pct) {
   @return cv.get($variants, $name, $pct);
}