# --- SYSTEM SETTINGS ---
PUID=1000
PGID=1000
TZ=Asia/Dhaka
DOWNLOAD_PATH=/mnt/HDD/downloads/

# --- PORT SETTINGS ---
QB_PORT=2080

# --- VPN SETTINGS (Custom WireGuard for PROTONVPN) ---
VPN_SERVICE=custom
VPN_TYPE=wireguard

# Your Private Key (Keep this secret!)

WIREGUARD_PRIVATE_KEY=cloudflare-wireguard-private-key
WIREGUARD_ADDRESSES=172.16.0.2/32

WIREGUARD_ENDPOINT_IP=engage.cloudflareclient.com
WIREGUARD_ENDPOINT_PORT=2408
WIREGUARD_PUBLIC_KEY=bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=

DNS_ADDRESS=1.1.1.1

