# --- SYSTEM SETTINGS ---
PUID=1000
PGID=1000
TZ=Asia/Dhaka
DOWNLOAD_PATH=/mnt/HDD/downloads/

# --- PORT SETTINGS ---
QB_PORT=2080

# --- VPN SETTINGS (Custom WireGuard for PROTONVPN) ---
VPN_SERVICE=custom
VPN_TYPE=wireguard

# Your Private Key (Keep this secret!)

WIREGUARD_PRIVATE_KEY=proton-wireguard-private-key
WIREGUARD_ADDRESSES=10.2.0.2/32

WIREGUARD_ENDPOINT_IP=185.107.56.44
WIREGUARD_ENDPOINT_PORT=51820
WIREGUARD_PUBLIC_KEY=/XceEDLyYIGsHhqkfZH0dU7g9IyI6DTawWRAa5+k6DM=

DNS_ADDRESS=10.2.0.1
