/* Primary Opacity Variants */
@define-color primary #927E8D;
@define-color primary_10 rgba(146,126,141, 0.1);
@define-color primary_20 rgba(146,126,141, 0.2);
@define-color primary_30 rgba(146,126,141, 0.3);
@define-color primary_40 rgba(146,126,141, 0.4);
@define-color primary_50 rgba(146,126,141, 0.5);
@define-color primary_60 rgba(146,126,141, 0.6);
@define-color primary_70 rgba(146,126,141, 0.7);
@define-color primary_80 rgba(146,126,141, 0.8);
@define-color primary_90 rgba(146,126,141, 0.9);

/* Background Opacity Variants */
@define-color background #1A1920;
@define-color background_10 rgba(26,25,32, 0.1);
@define-color background_20 rgba(26,25,32, 0.2);
@define-color background_30 rgba(26,25,32, 0.3);
@define-color background_40 rgba(26,25,32, 0.4);
@define-color background_50 rgba(26,25,32, 0.5);
@define-color background_60 rgba(26,25,32, 0.6);
@define-color background_70 rgba(26,25,32, 0.7);
@define-color background_80 rgba(26,25,32, 0.8);
@define-color background_90 rgba(26,25,32, 0.9);

/* Foreground Opacity Variants */
@define-color foreground #FBF6EF;
@define-color foreground_10 rgba(251,246,239, 0.1);
@define-color foreground_20 rgba(251,246,239, 0.2);
@define-color foreground_30 rgba(251,246,239, 0.3);
@define-color foreground_40 rgba(251,246,239, 0.4);
@define-color foreground_50 rgba(251,246,239, 0.5);
@define-color foreground_60 rgba(251,246,239, 0.6);
@define-color foreground_70 rgba(251,246,239, 0.7);
@define-color foreground_80 rgba(251,246,239, 0.8);
@define-color foreground_90 rgba(251,246,239, 0.9);

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.2);
}

button {
    border-radius: 30px;
    text-decoration-color: @foreground_80;
    color: @foreground_80;
    background-color: @background_40;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    margin: 30px;
}

button:focus,
button:active,
button:hover {
    color: @foreground;
    background-color: @primary_70;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}