@import "themes/default.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

/** Group - Networks */
#network,#bluetooth {
  padding: 0.5rem 1rem;
  margin: 5px 0;
  background-color: @surface0;
}

#network{
  border-radius: 1rem 0 0 1rem;
  color: @green;
}

#bluetooth{
  color: @sky;
  border-radius: 0 1rem 1rem 0;
}

#custom-music,
#tray,
#custom-backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-netspeed,
#custom-memory{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}
#custom-netspeed{
  color: @green;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}
#custom-memory{
  color: @red;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

#clock {
  color: @blue;
  border-radius: 1rem 0rem 0rem 1rem;
  border-right: 1px solid @surface2;
}

#battery {
  color: @green;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-right: 1rem;
  padding-right: 1.3rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-backlight {
  color: @yellow;
}

#custom-backlight{
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @green;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
}
