@import "colors.css";

* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0);
  color: @foreground;
  margin: 5px;
}

#workspaces {
  border-radius: .8rem;
  margin: 5px;
  background-color: @background;
  margin-left: .5rem;
  border: 0.5px solid alpha(@primary, 0.5);
}

#workspaces button {
  color: @foreground;
  border-radius: .8rem;
  padding: .4rem;
}

#workspaces button.active {
  color: @primary;
  border-radius: .8rem;
}

#workspaces button:hover,
#network:hover,
#bluetooth:hover,
#custom-music:hover,
#custom-power:hover,
#clock:hover,
#audio:hover,
#pulseaudio:hover,
#battery:hover {
  background-color: @primary-30;
  color: @primary;
}

#custom-music,
#tray,
#custom-backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-netspeed,
#custom-memory,
#network,
#bluetooth {
  background-color: @background;
  padding: .5rem .8rem;
  margin: 5px 0;
  border: 0.5px solid alpha(@primary, 0.5);
}

#network {
  border-radius: .8rem 0 0 .8rem;
  padding-right: .5rem;
  color: @foreground;
  border-right: 0;
}

#bluetooth {
  border-radius: 0 .8rem .8rem 0;
  padding-left: .5rem;
  color: @foreground;
  transition: all 0.2s ease;
  border-left: 0;
}

#custom-netspeed {
  color: @foreground;
  border-radius: .8rem;
  margin-right: .5rem;
  font-weight: 600;
}

#custom-memory {
  color: @foreground;
  border-radius: .8rem;
  margin-right: .5rem;
  font-weight: 600;
}

#custom-music {
  color: @foreground;
  border-radius: .8rem;
  transition: all 0.2s ease;
}

#custom-power {
  margin-right: .5rem;
  border-radius: 0 .8rem .8rem 0;
  padding-left: 1rem;
  color: @foreground;
  transition: all 0.2s ease;
}

#custom-backlight {
  color: @foreground;
  border-radius: 0;
}

#clock {
  border-radius: .8rem 0 0 .8rem;
  padding-right: 1rem;
  color: @foreground;
  border-right: 1px solid alpha(@foreground, 0.2);
  transition: all 0.2s ease;
}

#battery {
  color: @foreground;
  border-radius: 0 .8rem .8rem 0;
  margin-right: .5rem;
  padding-right: 1.3rem;
}

#battery.charging {
  color: @primary;
}

#battery.warning:not(.charging) {
  color: @urgent;
}

#pulseaudio {
  color: @foreground;
  border-radius: .8rem;
  margin-left: .5rem;
  padding-left: .8rem;
  padding-right: calc(.8rem - 4px);
  transition: all 0.2s ease;
}

#tray {
  margin-right: .5rem;
  margin-left: .5rem;
  border-radius: .8rem;
}