/* 1. Import the correct system theme */
@import url("/usr/share/themes/adw-gtk3-dark/gtk-3.0/gtk.css");

/* 2. Import Wallust generated colors */
@import url("colors.css");

/* Increase nemo sidebar padding to be a bit more relaxed */
.nemo-window .sidebar .view {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; /* Moves text slightly right */
    font-weight: 500;
}
